*{
color: rgb(0, 0, 0);
font-family: 'Teko', sans-serif;
}

h1{
    color: rgb(0, 0, 0);
}
p{
    font-size: larger;
}

.col-md-4{

width: 400%;
}

 img{
    width: 50%;
    border: 6px solid black;
}

/* foto del perro */
.dog {
    width: 50%;
    border: 6px solid black;
}

#dog{
    border: 6px solid black;

}
@media screen and (max-width: 992px) {
    h1{
       color: brown;
    }
}